.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 340px) {
    .header__logo {
        max-width: 104px;
        max-height: 25px;
        margin-left: 8px;
    }
}
