.profile__subtitle {
    margin: 0;
    max-width: 294px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 495px) {
    .profile__subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 189px;
    }
}